*{
    font-family: 'Poppins';
}

::-webkit-scrollbar {
    display: none;
}

/* Header Css */

.main-box{
    background-image: url(/public/images/background-hero.png);
}

.nav-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.hero-left {
    position: relative;
    animation-name: slide;
    animation-duration: 1.5s;
}

.hero-left h1 {
    font-size: 4em;
    font-family: 'Poppins';
}

.hero-input input {
    border: none;
    width: 100%;
    outline: none;
}

.hero-input {
    background-color: white;
    padding: 20px ;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-right img {
    width: 85%;
    position: relative;
    animation-name: rotate;
    animation-duration: 2s;
}



@keyframes rotate{
    0% {right: -100%; opacity: 0px; transform: rotate(90deg);}
    100% {right: 0%; opacity: 100%; transform: rotate(0deg);}
}

@keyframes slide{
    0% {left: -50%; opacity: 0px;}
    100% {left: 0%; opacity: 100%;}
}

/* Popular Css */

.popular-box{
    background-color: #FFF5EC;
}

.title-head{
    display: flex;
    padding: 10px;
    gap: 15px;
    margin-left: 6%;
}

.title-head p{
    font-size:4em;
}

.orange-vertical{
    background-color: #EFC81A;
    width: 15px;
}

.popular-img{
    display: flex;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 100px;
}



.inner-text{
    position: relative;
 
}

.inner-text p{
    position: absolute;
    bottom: 0;
    left: 5%;
    font-size: 2em;
    font-weight: bold;
    color: white;
}


.inner-text img{
    width: 100%;
}

/* New Recipe CSS */

.recipe-box{
    background-color: #FFF5EC;
    padding-top: 15rem;
}

.recipe-img{
    padding-top: 50px;
}


.recipe-left{
    position: relative;
}

.recipe-orange{
    background-color: #EFC81A;
    width: 40%;
    height: 600px;
}

.recipe-left-img img{
   width: 80%;
   position: absolute;
   left: 10%;
   top: 15%;
}

.recipe-right h1{
    font-size: 3.5em;
    font-weight: bold;
    text-transform: capitalize;
}

.recipe-right p{
    font-size: 1.2em;
}

.row{
    margin-right: 0;
}

hr {
    width: 10%;
}

/* Popular Recipe CSS */

.popular-recipe{
    background-color: #FFF5EC;
    padding-top: 25rem;
    padding-bottom: 100px;
}

.menu-box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.menu-child{
    position: relative;
}

.menu-child p{
    position: absolute;
    bottom: 0;
    padding: 8px;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba(34, 34, 34, 0.397);
}

.menu-child img{
    width: 500px;
    height: 400px;
    object-fit: cover;
}

/* Mobile */

@media screen and (max-width: 1394px){
    /* Header Mobile */
    .nav-box{
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
    }

    .hero-left h1 {
        font-size: 3em;
    }

    .hero-right img {
        width: 50%;
    }
    .hero-input input{
        width: 50%;
    }

    /* Popular Mobile */
    .popular-box{
        padding-top: 100px;
    }

    .popular-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .title-head p{
        font-size: 3em;
    }

    .inner-text img{
        width: 100%;
    }
    /* New Recipe Mobile */
    .recipe-orange{
        height: 400px;
    }
    .recipe-right {
        margin-top: 14%;
        padding: 20px;
        text-align: center;
        font-size: .8em;
    }

    hr {
        width: 50%;
        margin: auto;
        padding: 15px;
    }

    /* Popular Recipe */
    .menu-box{
        padding: 20px;
    }

}

@media screen and (max-width: 703px) {
    /* Poplar Recipe */
    
    .menu-child img {
        width: 400px;
    }
}

