#profileSection {
  background-color: #fff5ec;
}

#profileSection .fotoProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#profileSection .profileBody {
  padding-bottom: 80px;
}

#profileSection .profileBody .fotoProfile img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

#profileSection .profileBody .fotoProfile h5 {
  text-align: center;
  margin-top: 30px;
}

#profileSection .recipeBar {
  display: flex;
  gap: 50px;
  margin-top: 100px;
}

#profileSection .recipeBar .myRecipe {
  font-weight: bolder;
}

#profileSection hr {
  width: 100%;
}

#profileSection .foodContent {
  display: flex;
  flex-wrap: wrap;
  column-gap: 90px;
  row-gap: 20px;
}

#profileSection .foodCard {
  height: 250px;
  width: 370px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#profileSection .foodCard img {
  z-index: 100;
}

#profileSection .foodCard p {
  z-index: 200;
  position: absolute;
  margin-top: -50px;
  margin-left: 30px;
  font-size: x-large;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 0);
}

#profileSection .editProfile {
  padding: 20px;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#profileSection .editProfile .editProfileBtn {
  padding: 8px;
  font-size: small;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (min-width: 320px) and (max-width: 767px) {
  #profileSection .profileBody {
    padding-top: 50px;
  }

  #profileSection .recipeBar {
    gap: 30px;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 30px;
  }

  #profileSection .foodContent {
    flex-wrap: wrap;
    column-gap: 90px;
    row-gap: 0;
    margin-top: -40px;
  }
}
